DATABASE_URL=postgresql://user:password@localhost:5432/mudar

# URL donde corre la app web (ajustar el puerto si es necesario)
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=un-secreto-largo-y-aleatorio

TRAVELTIME_APP_ID=
TRAVELTIME_API_KEY=
